extends layout

block content
 h3 Item Details
 h4 apartment: #{apartment}
 h4 tenant: #{tenant}
 h4 Cost: $#{cost}
 h4 rooms: #{rooms}
 h4 room availble: #{roomsA}
 <br>
 a.btn.btn-primary.btn-circle(href='/apartment') Back

 
